/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  /* General Styles */
  body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
    text-align: center;
  }
  
  .form-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f9f9f9;
  }
  
  .form-container {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  a{
    text-decoration: none;
  }
  
  /* Header */
  header {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
    font-size: 18px;
  }
  
  .signup-btn {
    font-size: 20px;
    background-color: #f9f9f9;
    color: black;
    border-radius: 100px;
  }
  
  .login-btn {
    font-size: 20px;
    color: #f9f9f9;
    background-color: black;
    border-radius: 100px;
  }
  
  .actions p {
    margin: 0.5em 0.8em;
    font-weight: bold;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffdd57;
  }
